quartz-jms-payment-service-client/src/main/resources/wsdl/payments.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="https://www.cjet.com/xml/payment" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="https://www.cjet.com/xml/payment" targetNamespace="https://www.cjet.com/xml/payment">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="https://www.cjet.com/xml/payment">
<xs:element name="getPaymentRequest">
<xs:complexType>
<xs:sequence>
<xs:element name="amount" type="xs:float"/>
<xs:element name="status" type="xs:string"/>
<xs:element name="method" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="getPaymentResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="acknowledgement" type="tns:acknowledgement"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:complexType name="acknowledgement">
<xs:sequence>
<xs:element name="id" type="xs:long"/>
<xs:element name="acknowledgement" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="getPaymentResponse">
<wsdl:part element="tns:getPaymentResponse" name="getPaymentResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="getPaymentRequest">
<wsdl:part element="tns:getPaymentRequest" name="getPaymentRequest"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="PaymentsPort">
<wsdl:operation name="getPayment">
<wsdl:input message="tns:getPaymentRequest" name="getPaymentRequest"> </wsdl:input>
<wsdl:output message="tns:getPaymentResponse" name="getPaymentResponse"> </wsdl:output>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="PaymentsPortSoap11" type="tns:PaymentsPort">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="getPayment">
<soap:operation soapAction=""/>
<wsdl:input name="getPaymentRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="getPaymentResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="PaymentsPortService">
<wsdl:port binding="tns:PaymentsPortSoap11" name="PaymentsPortSoap11">
<soap:address location="http://localhost:8080/ws"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>